[Unit]
Description=Inventec DCMI power service
Requires=xyz.openbmc_project.psusensor.service
After=xyz.openbmc_project.psusensor.service
After=xyz.openbmc_project.Settings.service

[Service]
Restart=always
ExecStart=/usr/bin/inventec-dcmi-power
SyslogIdentifier=inventec-dcmi-power
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
