[Unit]
Description=BMC ready
After=xyz.openbmc_project.exitairsensor.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/bmc-ready.sh

[Install]
WantedBy=multi-user.target

