[Unit]
Description=MB EEPROM GUID sync
Wants=mapper-wait@-xyz-openbmc_project-inventory.service
After=mapper-wait@-xyz-openbmc_project-inventory.service
After=obmc-read-eeprom@system-chassis-bmc.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysguid.py -v 0
SyslogIdentifier=eeprom-guid-sync

[Install]
WantedBy=multi-user.target

