[Unit]
Description=Read %I EEPROM
Wants=mapper-wait@-xyz-openbmc_project-inventory.service
After=mapper-wait@-xyz-openbmc_project-inventory.service
Requires=xyz.openbmc_project.Inventory.Manager.service

[Service]
Restart=no
Type=oneshot
EnvironmentFile={envfiledir}/obmc/eeproms/%I
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/env phosphor-read-eeprom --eeprom $SYSFS_PATH --fruid $FRUID
SyslogIdentifier=phosphor-read-eeprom

[Install]
WantedBy=multi-user.target
