[Unit]
Description=Essential init commands for starscream
Before=xyz.openbmc_project.EntityManager.service xyz.openbmc_project.nvme.manager.service phosphor-multi-gpio-monitor.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/starscream-init.sh

[Install]
WantedBy=multi-user.target
