[Unit]
Description=Plug PSU Inventory for PSU ID %I
Wants=mapper-wait@-xyz-openbmc_project-inventory.service
After=mapper-wait@-xyz-openbmc_project-inventory.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/sbin/inv-psu-plug.sh %i
SyslogIdentifier=inv-psu-plug

[Install]
WantedBy=multi-user.target